@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 251 255;
    --foreground: 31 26 28;
    --card: 255 255 255;
    --card-foreground: 31 26 28;
    --popover: 255 255 255;
    --popover-foreground: 31 26 28;
    --primary: 146 66 117;
    --primary-foreground: 255 255 255;
    --secondary: 113 87 100;
    --secondary-foreground: 255 255 255;
    --tertiary: 128 84 61;
    --tertiary-foreground: 255 255 255;
    --muted: 255 255 255;
    --muted-foreground: 129 115 121;
    --accent: 240 222 229;
    --accent-foreground: 80 67 73;
    --destructive: 230 77 77;
    --destructive-foreground: 255 255 255;
    --border: 247 238 242;
    --input: 240 222 229;
    --ring: 146 66 117;
    --radius: 0.6rem;
  }

  .dark {
    --background: 31 26 28;
    --foreground: 234 224 227;
    --card: 37 32 34;
    --card-foreground: 234 224 227;
    --popover: 37 32 34;
    --popover-foreground: 234 224 227;
    --primary: 255 174 220;
    --primary-foreground: 90 17 68;
    --secondary: 222 190 205;
    --secondary-foreground: 64 42 54;
    --tertiary: 244 186 157;
    --tertiary-foreground: 75 39 19;
    --muted: 64 42 54;
    --muted-foreground: 156 141 147;
    --accent: 72 60 66;
    --accent-foreground: 211 194 201;
    --destructive: 236 120 120;
    --destructive-foreground: 105 0 5;
    --border: 56 47 51;
    --input: 72 60 66;
    --ring: 255 174 220;
  }
}

@layer base {
  * {
    @apply border-border;
    
  }
  body {
    @apply antialiased bg-background text-foreground;
    /* height: 100dvh; */
  }
  html {
    font-family: 'Readex Pro', sans-serif;
  }
}
